

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header h1 {
	margin: 0;
}



nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main h2 {
	margin-top: 0;
}

.animal-card {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
}

.animal-card img {
	max-width: 100%;
	border-radius: 5px;
}

.animal-card h3 {
	margin-top: 10px;
	margin-bottom: 0;
}

.animal-card p {
	margin-top: 0;
	margin-bottom: 10px;
}

.animal-card button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.animal-card button:hover {
	background-color: #555;
}
footer {
	background-color: #333;
	color: #fff
}
/* cadastrar*/

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="file"] {

  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

input[type="button"]:hover {
  background-color: #2E8B57;
}

.obriga{
	color:rgb(255,0,0);
}

